.Rproj.user
.Rhistory
.RData
.Ruserdata
#pycache
__pycache__/
old/
raw/
data/
models/
logs/
.Rproj 
scratch/
plots/
notebooks/
logs/
helpers/    
projects/
._*
*.ipynb_checkpoints*
.R*
.DS_Store
.RDataTmp